body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
    overflow: hidden;
}

.emoji {
    position: absolute;
    top: -10%;
    font-size: 2rem;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
}

section.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.circular-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.question-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.next-btn, #yes-btn, #no-btn, #rewatch-btn {
    background-color: #ff9a9e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.letter {
    max-width: 600px;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 10px;
}